* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



div.cards-wrapper{
    /* max-width: 1700px;
    width: 100%; */
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
    rid-auto-rows: min-content;
    gap: 20px;
    border:  5px dotted orange;
    padding: 10px;
    background-color: grey;
}

div.cards-wrapper .video{
    width: 100%;
    border: 5px solid green;
}
.thumbnail {
    /* aspect-ratio: 16 / 9;
    /* width: 100%; */
    /* height: fit-content; */
  /*box-sizing: border-box;
  border: 5px dotted blue;
  background-color: grey; */

  /* width: 100%;
  max-width: 100%;
  eight: 100px;
  padding-bottom: 56.25%; 16:9 aspect ratio */
  /* aspect-ratio: 16 / 9; */
}
.iframe {
    width: 100%;
   
    /* width: auto;
    height: 150px; */
    /* aspect-ratio: 16:9; */
    /* max-width: 300px;
    width: 100%; */
    /* display: inline-block;
    /* height: max-content; */
    /*background-color: yellow;
     width: 100%;
    height: 100%; 
    border: 5px dotted red;
    object-fit: cover; */


    /* width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; */


    /* max-width: 100%;
    width: 100%;
    eight: 100px;
    eight: auto;
    object-fit: fill;
    border: 0; */
}

.details {
    eight: fit-content;
    eight: 100px;
    display: flex;
    eight: max-content;
    background-color: lightgray;
    border:  5px dotted orange;
    padding: 5px;
}

.profile {
    eight: fit-content;
    background-color: rgb(71, 176, 211);
    padding: 5px;
}

.video-details {
    idth: fit-content;
    eight: fit-content;
    eight: fit-content;
   display: flex;
   flex-direction: column;
   in-height: fit-content;
    padding: 5px;
    background-color: rgb(59, 132, 59);
}

.profile img{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}









.thumbnail {
    /* width: 100%;
    max-height: 100px; */
    /* position: relative; */
    adding-bottom: 56.25%; /* 16:9 aspect ratio */
    eight: 0;
    verflow: hidden;
    ax-width: 100%;
    bject-fit: cover;
  }
  
  
  .thumbnail iframe {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    /* border: 0;
    display: block; */
    /* object-fit: cover;
    width: 100%;
    height: 100%; 
    border: 0; */
    /* max-width: 250px;
    width: 100%;
    height: 100%;
    height: 130px; */
  }

  .views-date {
    eight: fit-content;
    eight: fit-content;
    isplay: flex;
    lign-items: center;
    background-color: yellow;
  }
  /* .views-date span {
    display: inline-block;
    height: fit-content;
  } */
  .views-date span:nth-child(2) {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    eight: max-content;
    isplay: inline-block;
    ont-size: 80px;
    color: green;
    argin-bottom: 20px;
    background-color: red;
    margin-bottom: 2px;
  }










/* 
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
  rid-auto-rows: min-content;
  gap: 20px;
  border:  5px dotted orange;
  padding: 10px;
  background-color: grey;


  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
  gap: 20px; */




/*---------------------------------------------------------------------------*/

  /* .iframe {
    width: 100%;
  }

  .details {
    display: flex;
    background-color: lightgray;
    border:  5px dotted orange;
    padding: 5px;
}

.profile {
    background-color: rgb(71, 176, 211);
    padding: 5px;
}

.video-details {
   display: flex;
   flex-direction: column;
    padding: 5px;
    background-color: rgb(59, 132, 59);
}

.profile img{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.views-date {
  background-color: yellow;
}

.views-date span:nth-child(2) {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  color: green;
  background-color: red;
  margin-bottom: 2px;
} */
